html {
  --font-main: 'Roboto', 'Arial', sans-serif;
  --font-size: 16px;
  --line-height-gap: 2px;

  --transition-main: 0.5s;
}

@font-size: var(--font-size);
@font-main: var(--font-main);
@get-line-height: calc(var(--font-size) + var(--line-height-gap));

@s: var(--transition-main);

// вертикальная и горизонтальная
// 320 × 568,
// 414 × 736,
// 768 × 1024
// горизонтальная
// 1366 × 768,
// 1920 × 1080

@width-phone-small: 375px;
@width-tablet-small: 567px;
// @width-tablet-small: 667px;
@width-tablet: 767px;

// @desktop-width: 1690px;
// @max-desktop-width: 1921px;

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@s: 0.5s;
@a: auto;
