html {
  // --font-main: 'Roboto', 'Arial', sans-serif;
  --font-size: 14px;
  --line-height-gap: 2px;
  --border-radius: 6px;

  --gap-container-block: 20px;
  --gap-container-inline: 24px;
  --transition-main: 0.5s;
}

@media only screen and (min-width: @width-phone-middle) {
  html {
    --font-size: 16px;
  }
}

@font-size: var(--font-size);
// @font-main: var(--font-main);
@font-main: 'Roboto', 'Arial', sans-serif;
@get-line-height: calc(var(--font-size) + var(--line-height-gap));
@radius: var(--border-radius);
@gap-container-block: var(--gap-container-block);
@gap-container-inline: var(--gap-container-inline);
@s: var(--transition-main);

// @width-phone-small: 320px;
@width-phone-middle: 375px;
@width-tablet-small: 567px;
@width-tablet-middle: 667px;
// @width-tablet: 767px;

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@a: auto;
