body {
  margin: 0;
  padding: 0;

  font-family: @font-main;
  font-weight: 400;
  font-size: @font-size;
  line-height: @get-line-height;
  color: @color-primary;

  background-color: @bg-main-color;
  background-image: @bg-main-gradient;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
  .no-select;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  .reset-list();
}

time {
  display: inline-block;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

label,
input,
button,
textarea {
  box-sizing: border-box;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
  font-family: @font-main;
  font-size: inherit;
  // color: @color-primary;
}

textarea {
  resize: none;
}

fieldset {
  padding: 0;
  border: 0;
}

blockquote,
figure,
fieldset,
dl,
dd {
  margin: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// ОПЦИОНАЛЬНО, смена цветовой темы
.colors-theme-toggle {
  position: fixed;
  z-index: 100;
  top: 20px;
  right: 20px;

  display: block;
  width: 64px;
  height: 64px;

  font-size: 0;
  border-radius: 50%;
  background-color: red;
}
