.board {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  // height: 100%;
  min-height: 100vh;
  padding-top: @gap-container-block;

  &__leaders {}
}

.board__text-wrap {
  align-self: flex-start;
  width: 100%;
}

.board__title {
  margin-bottom: 8px;

  letter-spacing: -0.3px;
}

.board__subtitle {
  font-weight: 500;
  color: @color-secondary;
}

@media only screen and (min-width: @width-tablet-small) {
  .board {
    text-align: center;
  }
}
