.board {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
  padding-top: 20px;
}

.board__title {
  margin-bottom: 8px;
}

.board__subtitle {
  font-weight: 500;
  color: @color-secondary;
}

@media only screen and (min-width: @width-tablet-small) {
  .board {
    text-align: center;
  }
}
