.leaders {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-top: 60px;
}

.leaders__title {}

.leaders__list {
  display: grid;
  grid-template-columns: 96px 112px 96px;
  grid-template-areas: 'third first second';

  justify-content: center;
  align-items: stretch;
  padding-top: 20px;
}

.leaders__item {
  --stats-height-gap: 50px;
  --gap-secondary: 16px;

  position: relative;
  width: 112px;
  margin-top: calc(var(--stats-height-gap) * var(--stats-coefficient));

  &--1 {
    --stats-coefficient: 0;
    grid-area: first;
    z-index: 10;

    .leaders__stats {
      background-image: @bg-stats-primary;
      box-shadow: @shadow-stats-primary;
    }
  }

  &--2,
  &--3 {
    z-index: 8;
  }

  &--2,
  &--4 {
    left: calc(-1 * var(--gap-secondary));
    span {
      margin-left: var(--gap-secondary);
    }
  }

  &--3,
  &--5 {
    span {
      margin-right: var(--gap-secondary);
    }
  }

  &--4,
  &--5 {
    display: none;
    z-index: 6;
  }

  &--2 {
    --stats-coefficient: 1;
    grid-area: second;
  }

  &--3 {
    --stats-coefficient: 2;
    grid-area: third;
  }

  &--4 {
    grid-area: fourth;
  }

  &--5 {
    grid-area: fifth;
  }
}

.leaders__stats {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-top: 16px;
  padding-top: 18px;

  background-image: @bg-stats-secondary;
  box-shadow: @shadow-stats-secondary;
  border-radius: @radius @radius 0 0;
}

.leaders__stats-value {}

@media only screen and (min-width: @width-phone-middle) {
  .leaders__list {
    grid-template-columns: 104px 120px 104px;
    padding-top: 30px;
  }

  .leaders__item {
    width: 120px;
  }
}

@media only screen and (min-width: @width-tablet-small) {
  .leaders {
    margin-top: 18px;
  }

  .leaders__list {
    grid-template-columns: 104px 104px 120px 104px 104px;
    grid-template-areas: 'fifth third first second fourth';
  }

  .leaders__item {
    --stats-height-gap: 20px;
    &--3 {
      --stats-coefficient: 1;
    }

    &--4,
    &--5 {
      display: flex;
      --stats-coefficient: 2;
    }
  }
}
