.vote {}

.vote__text-wrap {
  margin-bottom: 8px;
}

.vote__title {}

.vote__subtitle {}

.vote__swiper-container {
  --swiper-height: 412px;

  z-index: 1;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  box-sizing: border-box;
  // max-height: 412px;
  max-height: var(--swiper-height);

  overflow: hidden;
  touch-action: pan-x;
}

.vote__swiper-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  transition-property: transform;
  transition-duration: @s;
}

.vote__swiper-slide {
  height: var(--swiper-height);

  width: 100%;
  // height: 100%;
  flex-shrink: 0;
}

.vote__list {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(3, 126px);
  row-gap: 4px;
  justify-content: space-between;

  height: 100%;
}

.vote__item {
  box-sizing: border-box;
  position: relative;
  // padding-top: 14px;
  // padding-bottom: 10px;
  border-radius: @radius;

  &:hover,
  &:focus-within {
    &::before {
      opacity: 1;
    }
  }

  &::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition-duration: @s;
    opacity: 0;

    background-image: @bg-stats-tertiary;
    box-shadow: @shadow-stats-tertiary;
    border-radius: @radius;
  }

  &:nth-child(1),
  &:nth-child(4),
  &:nth-child(7) {
    grid-column: 1/2;
  }

  &:nth-child(2),
  &:nth-child(5) {
    top: 85px;
    grid-column: 2/3;
  }

  &:nth-child(3),
  &:nth-child(6),
  &:nth-child(8) {
    grid-column: 3/4;
  }

  // порядок сверху вниз
  // &:nth-child(1),
  // &:nth-child(4),
  // &:nth-child(7) {
  //   grid-column: 1/2;
  // }

  // &:nth-child(3),
  // &:nth-child(6) {
  //   top: 85px;
  //   grid-column: 2/3;
  // }

  // &:nth-child(2),
  // &:nth-child(5),
  // &:nth-child(8) {
  //   grid-column: 3/4;
  // }

  // &:nth-child(3) {
  //   grid-row: 1/2;
  // }

  // &:nth-child(6) {
  //   grid-row: 2/3;
  // }

  &--active {
    &::before {
      opacity: 1;
      background-image: @bg-stats-primary;
      box-shadow: @shadow-stats-primary;
    }
  }
}

.vote__swiper-button-prev,
.vote__swiper-button-next {
  position: absolute;
  z-index: 10;

  transform: translateX(-50%);
  left: 50%;
  right: auto;
  margin-top: 0;

  &::after {
    content: none;
  }
}

.vote__swiper-button-prev {
  top: 0;
  transform: translateX(-50%) rotate(180deg);
}

.vote__swiper-button-next {
  top: auto;
  bottom: 0;
}

@media only screen and (min-width: @width-phone-middle) {
  .vote__text-wrap {
    margin-bottom: 24px;
  }

  .vote__swiper-container {
    --swiper-height: 480px;
    // max-height: 480px;
  }

  .vote__list {
    grid-template-columns: repeat(3, 104px);
    grid-template-rows: repeat(3, 142px);
    row-gap: 25px;
  }

  .vote__item {
    // padding-top: 20px;
  }
}

// @media only screen and (min-width: @width-tablet-middle) {
@media only screen and (min-width: @width-tablet-small) {
  .vote {
    width: 100%;
  }

  .vote__text-wrap {
    margin-bottom: 0;
  }

  .vote__swiper-container {
    --swiper-height: 288px;

    // max-height: 288px;
    padding-top: 4px;
  }

  .vote__list {
    grid-template-columns: 96px 96px 64px 96px 96px;
    grid-template-rows: repeat(2, 142px);
    row-gap: 4px;
  }

  .vote__item {
    &:nth-child(1) {
      grid-column: 1/2;
    }

    &:nth-child(2),
    &:nth-child(5) {
      grid-column: 2/3;
    }

    &:nth-child(3),
    &:nth-child(6) {
      grid-column: 4/5;
    }

    &:nth-child(4) {
      grid-column: 5/6;
    }

    &:nth-child(2),
    &:nth-child(5) {
      top: auto;
    }

    &:nth-child(5),
    &:nth-child(6) {
      grid-row: 2/3;
    }

    &:nth-child(1),
    &:nth-child(4) {
      top: 74px;
    }

    &:nth-child(7),
    &:nth-child(8) {
      display: none;
    }
  }

  .vote__swiper-button-prev {
    top: 58px;
  }

  .vote__swiper-button-next {
    bottom: 48px;
  }
}

@media only screen and (min-width: @width-tablet-middle) {
  .vote {
    width: 604px;
  }

  .vote__list {
    grid-template-columns: 104px 104px 64px 104px 104px;
  }
}
